html, body {
                margin: 0;
                padding: 0;
                background-color: #f6f7f9;   
            }

            * {
                font-family: 'Roboto', sans-serif;
            }
            
            header {
                height: 100px;
                padding: 0 40px;
            }

            header > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .hrefs > a {
                margin-right: 15px;
            }

            .phone > span {
                margin-right: 20px;
            }

            a {
                color: black;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
            
            section {
                padding: 40px;
            }

            .first-section {
                height: 500px;
            }

            .fixed-container {
                max-width: 1000px;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            .first-section > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background-image: url('icons/man.png');
                background-position: right center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .first-section p {
                padding: 0 0 30px 0;
                margin: 0 0 25px 0;
                font-size: 0.9em;
            }

            .first-section h1 {
                margin-bottom: 20px;
                font-size: 2.6em;
            }
 
            .second-section {
                height: 360px;
            }

            .second-section h2 {
                font-size: 2.1em;
            }

            .elem {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
            }

            .elem > div {
                width: 160px;
            }

            .elem img {
                width: 120px;
            }

            .elem p {
                width: 220px;
                font-size: 1em;
            }

            .threeth-section {
                height: 400px;             
            }

            .threeth-section h2 {
                font-size: 2em;
            }

            .exampl-work {
                display: flex;
                justify-content: center;
                margin-bottom: 40px;    
            }

            .exampl-work > div {
                width: 300px;
                margin-right: 35px;
            }
            .exampl-work img {
                width: 270px;
            }

            .last-section {
                height: 220px;
                background-color: #3f2aff;
                color: white; 
            }

            .last-section > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;         
            }

            .for-h2 {
                width: 55%;
                height: 50%;
                font-size: 1.48em;
                margin-bottom: 35px;
                padding: 15px 0 45px 0;
            }

            .for-p {
                width: 40%;
                height: 50%;
                font-size: 0.7em;
                padding: 0 0 60px 0;
            }

            button {
                padding: 10px 30px;
                cursor: pointer;
                border-radius: 5px;
            }

            .light-button {
                border: 1px solid black;
                background-color: transparent;
            }

            .dark-button {
                border: 1px solid #3f2aff;
                background-color: #3f2aff;
                color: white;
            }

            footer {
                height: 150px;
                margin-bottom: 30px;
                padding: 40px;
            }

            footer > div {
                height: 140px;
                display: flex;
                justify-content: space-around;
            }

            .medias {           
                padding: 20px;
                display: flex;
                justify-content: center;  
            } 

            .medias img {
                width: 15px;
                height: 15px; 
                padding: 15px;               
            }

            .list {
                margin-top: 15px;
                margin-bottom: 15px;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
            }

            .data {
                margin-top: 10px;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: first baseline; 
            }

            .butt {
                width: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;     
            }

            .popup-container {
                background-color: #0000003d;
                position: fixed;
                width: 100%;
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;
            }

            .popup {
                background-color: white;
                width: 300px;
                height: 300px;
                border-radius: 5px;
                padding: 30px;
            }
             .reg-form {
                max-width: 500px;
                margin: 0 auto;
            }

            .reg-form > div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
            }

            .reg-form__input {
                width: 80%;
            }
